# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# OS
.DS_Store
Thumbs.db

# Database
backend/mercury.db

# Logs
*.log

# Vite
.vite

# IDEs
.vscode/
.idea/

# Misc
*.local
